// Styles pour les formulaires et leurs contrôles

// Améliorations pour Select2 avec le thème sombre
[data-theme="dark"] {
  .select2-container--bootstrap-5 {
    .select2-dropdown {
      background-color: var(--card-bg);
      border-color: var(--card-border-color);
    }

    .select2-selection {
      background-color: var(--chat-input-bg);
      border-color: var(--chat-input-border-color);
      color: var(--body-color);

      .select2-selection__rendered {
        color: var(--body-color);
      }
    }

    .select2-search--dropdown .select2-search__field {
      background-color: var(--bs-body-bg);
      color: var(--body-color);
      border-color: var(--chat-input-border-color);
    }

    .select2-results__option--highlighted {
      background-color: var(--bs-primary) !important;
    }
  }
}